*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: maroon;
    font-size: 1.2rem;
}

div{
    color: black;
}

h1{
    position: relative;
    border: 15px double black;
    text-align: center;
    color: blue;
    background-color: aqua;
}

#box1{
    position: relative;
}

#box2 {
    position: sticky;
    top: 0;
    background-color: grey;
}

h2{
    
    border: 8px dotted yellow;
    color: turquoise;
    background-color: grey;
}

#Abso{
    position: absolute;
    right: 0;
    background-color: green;
    border: 2px solid;

}
